.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.header__left {
    font-size: 3rem;
    color: #00277E;
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
}

.header__nav-item a {
    text-decoration: none;
    color: #00277E;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15px;
    padding: 10px;
}

.main {
    width: 100vw;
    height: 50vw;
}

div {
    width: 50vw;
    margin-right: 0;
    margin-left: auto;
    margin-top: 15%;
}

.main__img {
    width: 100%;
}

.main__text {
    margin-top: -15%;
    font-weight: normal;
    font-size: 5rem;
}

.main__blue-box {
    background-color: #00277E;
    margin-left: 0;
    margin-top: 0%;
    width: 75%;
    height: 30%;
}